@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,500|Poppins:400,700,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #28282A;
    scroll-behavior: smooth;
}

h1, h2, h3, Label {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

b {
    font-weight: 900;
}